@import 'variable';

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat;
}

.container {
    width: 95%;
    margin: 2.5em auto;
    height: 90%;
    // background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;

    .card-img {
        #mobile {
            width: 100%;
            border-radius: $radius $radius 0 0;
        }
        #desktop {
            display: none;
        }
    }
    .card-body {
        padding: $pad-std;
    }
    .card-info {
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 0.75em;
        color: map-get($map: $colors, $key: "grey-dark")
    }
    .card-title {
        font-size: 2rem;
        font-family: Fraunces;
        color: map-get($map: $colors, $key: "blue-dark");
    }
    .card-subtitle {
        font-size: 0.85rem;
        color: map-get($map: $colors, $key: "grey-dark");
        line-height: 1.7em;
        margin-bottom: $pad-std;
    }
    .card-price {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }
    .card-price-new {
        color: map-get($map: $colors, $key: "green");
        font-size: 2rem;
        font-family: Fraunces;
        font-weight: bold;
    }
    .card-price-old {
        font-size: 1rem;
        margin-left: 1em;
        color: map-get($map: $colors, $key: "grey-dark");
        text-decoration-line: line-through;
    }
    .card-btn {
        display: flex;
        button {
            width: 100%;
            margin: 0 auto;
            padding: 1.5em 0;
            background-color: map-get($map: $colors, $key: "green");
            border: none;
            border-radius: $radius;
            display: flex;
            justify-content: center;
            img {
                width: 1.5em;
                margin-right: 1.5em;
            }
            span {
                font-size: 0.85rem;
                color: white;
                font-family: Montserrat;
                font-weight: 700;
            }
        }
        button:hover, button:focus {
            background-color: map-get($map: $colors, $key: "green-dark");
        }
    }
}

@media (min-width: 768px) {
    body {
        overflow: hidden;
    }
    .container {
        height: 100vh;
    }
    .card {
        transform: translateY(-5%);
        flex-direction: row;
        width: 600px;
        height: 500px;
        .card-img {
            #mobile {
                display: none;
            }
            #desktop {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: $radius 0 0 $radius;
            }
        }
        .card-body {
            width: 80%;
            .card-btn {
                margin-top: $pad-std;
            }
        }
    }
}
